/* desktop view */

/* global */
* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.active  {
  /* background-color: rgb(110, 0, 0)ant; */
}

.hidden {
  display: none;
}

.content {
  margin: 10px 36px 0px 36px;
  padding-top: 24px;
}

.page-title {
  font-size: 46px;
  margin-bottom: 16px;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  padding-bottom: 10px;
  justify-content: end;
  background-color: #fff;
  width: 100%;
}


.nav-bar-item {
  border-radius: 25px;
  color: #fff !important;
  background-color: rgb(255, 8, 0) !important;
  border: none;
  padding: 1px 8px;
  margin-top: 12px;
  margin-right: 16px;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 225px;
  height: auto;
}

.home-page-name {
  font-size: 58px;
  font-weight: bold;
  overflow-wrap: normal;
  display: table-caption;
  margin-bottom: 0px;
}

.home-page-description {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 16px;
}


.toolkit-icons-row {
  display: flex;
  justify-content: space-evenly;
  margin: 72px 10px 0 0;
}

.toolkit-icon {
  font-size: 65px;
  margin: 0 6px;
}

/* change name */
.white-icon {
  color: rgb(255, 255, 255);
  margin-right: 14px;
  text-decoration: none;
  font-size: 20px;
}


.contact-icon {
  color: rgb(0, 0, 0) !important; 
  text-decoration: none;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
  
}

.contact-icon-text {
  font-size: 14px;
}

.contact-icons {
  font-size: 42px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 52px 0;
}

.project-section i {
  font-size: 36px;
  margin-bottom: 24px;
}

.project-section img {
  box-shadow: rgba(45, 45, 58, 0.226) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(10, 10, 14, 0.24) 0px 16px 56px;
  border-radius: 5px;
  width: 300px;
  height: auto;
}

.project-title {
  font-weight: bold;
  font-size: 28px;
  margin: 18px 0;
}

.page-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 2rem;
  /* margin: 0 75px 32px 0; */
}

.about-page {
  display: flex;
  flex-direction: column;
}

/** only displays home page when website is displayed */
.content:not(:first-child) {
    display: none;
}


/* desktop view */
@media (min-width: 800px) {
  .contact {
    line-height: 150%;
    font-size: 30px;
  }

  .page-title {
    font-size: 42px;
    margin-bottom: 52px;
    font-weight: 300;
  }

  .home-page-name {
    font-size: 82px;
  }

  .toolkit-icon {
    font-size: 100px;
    margin: 22px;
  }

  .home {
    flex-direction: row;
  }

  .project-section img {
    width: 400px;
    height: auto;
  }

  .contact-icons {
    font-size: 100px;
    
  }

  .contact {
    margin-bottom: 0 !important;
  }

  .page-text {
    margin: 0 75px 0 0;
  }

.about-page {
  display: flex;
  flex-direction: row;
}

.profile-img {
  width: 300px;
  height: auto;
  /* margin-top: 40px; */
  margin-bottom: 12px;
  margin-right: 75px;
}

}

@media (min-width: 900px) {

.about-page {
  display: flex;
  flex-direction: row;
}

.profile-img {
  width: 500px;
  height: auto;
  margin-right: 100px;
}

  .home-page-name {
    font-size: 125px;
  }

   .project-section img {
    width: 600px;
    height: auto;
  }

  .page-text {
    margin: 0 250px 20px 0;
  }
}