/* desktop view */

/* global */
* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.active  {
  background-color: #ff74ea !important;
}

.hidden {
  display: none;
}

.content {
  margin: 10px 36px 0px 36px;
  padding-top: 24px;
}

.page-title {
  font-size: 46px;
  margin-bottom: 16px;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  padding-bottom: 10px;
  right: 10px;
  background-color: #fff;
}

.nav-bar-item {
  border-radius: 25px;
  color: #fff !important;
  background-color: #d725bb;
  border: none;
  padding: 1px 6px;
  margin-top: 12px;
  margin-right: 10px;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 225px;
  height: auto;
}

.home-page-name {
  font-size: 46px;
  font-weight: bold;
  overflow-wrap: normal;
  display: table-caption;
  margin-bottom: 0px;
}

.home-page-description {
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 16px;
}


.toolkit-icons-row {
  display: flex;
  justify-content: space-around;
}

.toolkit-icon {
  font-size: 56px;
  margin: 20px 12px;
}

/* change name */
.white-icon {
  color: rgb(255, 255, 255);
  margin-right: 14px;
  text-decoration: none;
  font-size: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
}

.contact-icon {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  text-decoration: none;
  font-size: 52px;
}

.contact-icon-text {
  font-size: 16px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 50px;
}

.project-title {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 12px;
}

.page-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 2rem;
}

/** only displays home page when website is displayed */
.content:not(:first-child) {
    display: none;
}


/* desktop view */
@media (min-width: 480px) {
  .contact {
    max-width: 80%;
    line-height: 150%;
    /* margin-bottom: 300px; */
    font-size: 30px;
    /* padding-left: 70px; */
  }

  .page-title {
    font-size: 42px;
    margin-bottom: 52px;
    font-weight: 300;
  }

  .toolkit-icons-row {
    max-width: 100%;
  } 
  .toolkit-icon {
    font-size: 100px;
    margin: 22px;
  }

  .home {
    flex-direction: row;
  }


  .contact-icons {
    font-size: 100px;
    
  }

  .contact {
    margin-bottom: 0 !important;
  }

}

