/* desktop view */

/* global */
* {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
}

body {
  position: relative;
}

h1 {
  font-size: 150px;
}

/* headers */
.header-text {
  font-size: 60px;
  width: 80%;
  padding: 150px 100px;
  color: white;
}

/* navigation bar */
.nav-bar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  right: 0;
  padding: 10px;
}

.nav-bar-text {
  font-weight: bold;
  font-size: 20px !important;
}

.nav-bar a {
  justify-content: space-around;
  align-items: center;
  margin: 40px 20px;
  text-decoration: none;
  font-size: 32px;
}

.nav-bar a:hover {
  text-shadow: 0 0 5px #aa01ff;
}

/* colors */
.purple {
  color: #aa01ff !important;
}

.white {
  color: white;
}

.red {
  color: red;
}

/* icons */
.inline-icon {
  vertical-align: bottom;
  font-size: 32px;
}

i {
  font-size: 120px;
  text-shadow: 0 0 5px #aa01ff;
}

/* toolkit */
.toolkit {
  width: 100%;
}

.toolkit-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.toolkit-icons > i {
  display: flex;
  padding: 100px;
  height: 150px;
  flex: 1;
}

.contact-icon-row ul {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
}

.contact-icon-row ul li {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.contact-icon-size {
  width: 33%;
}

.full-screen {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: space-around;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 1000px) {
  .nav-bar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 15px;
    margin-left: 30px;
  }

  .nav-bar a:hover {
    text-shadow: none !important;
  }

  .contact-icon-size {
    font-size: 100px;
    width: 33%;
    margin: 100px;
  }

  .contact-icon-row ul li {
    list-style: none;
    display: inline-block;
  }

  .disappear {
    color: black !important;
  }

  .inline-icon {
    font-size: 30px;
    padding: 10px;
    margin-top: 50px;
    margin-right: 100px;
  }

  .toolkit-icons {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    height: auto;
  }

  i {
    font-size: 200px;
    text-shadow: 0 0 5px #aa01ff;
    width: 100%;
  }

  .contact-icon-size {
    margin: 100px;
  }
}
