/* global */
* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  background-color: #151515;
  color: #fff;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 4px; */
  padding-bottom: 5px;
}

.fa-angle-down {
  font-size: 58px;
  font-weight: medium;
  text-align: center !important;
}

.go-down-btn {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.content {
  margin: 10px 36px 0px 36px;
  padding-top: 24px;
}

.page-title {
  font-size: 42px;
  margin-bottom: 16px;
}

.nav-bar {
  display: flex;
  position: fixed;
  padding-bottom: 10px;
  justify-content: space-evenly;
  width: 100%;
  top: 0;
}

.fa-code {
  color: #fff;
}


.nav-bar-item {
  font-size: 10px;
  border: none;
  margin-top: 8px;
}

.home {
  display: flex;
  flex-direction: column;
}

.home-middle {
  margin-left: 8px;
}

.home-right {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 100 !important;
  width: 250px;
  margin: 0 12px 80px 0;
  line-height: 2.5rem;
}

.home-contact-icon {
  font-size: 28px;
}

.home-left {
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 0 12px 0 24px;
}

.view-work-button {
  padding: 8px 28px;
  margin-top: 12px;
  border: none;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
  /* letter-spacing: 1.5px; */
  background-color: blueviolet;
}

.profile-img {
  width: 300px;
  height: auto;
}

.pronouns {
  font-size: 16px;
  /* letter-spacing: 1.6px; */
  font-weight: normal;
}

.home-page-name {
  font-size: 28px;
  font-weight: medium;
  overflow-wrap: normal;
  width: 350px;
  display: table-caption;
  margin-bottom: 0px;
  /* letter-spacing: 5px; */
}

.home-page-description {
  font-size: 16px;
  font-weight: normal;
  width: 350px;
}

.toolkit-section-title {
  font-size: 28px;
  /* letter-spacing: 2px; */
  font-weight: normal;
}

.toolkit-icons-row {
  display: flex;
  justify-content: space-evenly;
  margin: 72px 10px 40px 0;
}

.toolkit-icon {
  font-size: 65px;
  margin: 0 6px;
}

/* change name */
.white-icon {
  color: rgb(255, 255, 255);
  margin-right: 14px;
  text-decoration: none;
  font-size: 20px;
}


.contact-icon {
  text-decoration: none;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-icon-text {
  font-size: 14px;
  margin-top: 0px;
}

.contact-icons {
  font-size: 42px;
  /* margin-top: 25%; */
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 52px 0;
}

.project-section i {
  font-size: 32px;
  margin-bottom: 24px;
}

.project-section img {
  border-radius: 5px;
  width: 300px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.demo-code {
  display: flex;
  justify-content: center;
}

.demo-code-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 10px;
}

.demo-code-item i {
  font-size: 20px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  margin: 18px 0;
}

.page-text {
  font-size: 20px;
  font-weight: 100;
  line-height: 2rem;
}

.about-page {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 14px;
  width: 300px;
}
/** only displays home page when website is displayed */
.content:not(:first-child) {
    display: none;
}


@media (min-width: 500px) {
  .nav-bar-item {
    font-size: 14px;
    margin-right: 18px;
  }

  .home-page-description {
    font-size: 18px;
    width: 500px;
  }

  .home-page-name {
    width: 500px;
    font-size: 36px;
  }

  .home-right {
    width: 350px;
    font-size: 18px;
    margin-right: 32px;
    margin-bottom: 116px;
  }

  .about-text {
    font-size: 16px;
    width: 450px;
  }
}

@media (min-width: 600px) {
  .about-text {
    width: 575px;
  }

  .toolkit-section-title {
    font-size: 38px;
  }
}

/* desktop view */
@media (min-width: 800px) {
  .contact {
    font-size: 30px;
  }

  .fa-angle-down {
    font-size: 72px;
  }

  .view-work-button {
    margin-top: 30px;
    padding: 12px 38px;
    font-size: 24px;
  }

  .home-page-description {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .home-right {
    width: 500px;
    font-size: 20px;
    margin: 0 52px 125px 0px;
    line-height: 2rem;
  }

  .pronouns {
    font-size: 24px;
  }

  .nav-bar-item {
    font-size: 16px;
    padding-right: 32px;
  }

  .nav-bar {
    display: flex;
    justify-content: end;
  }

  .page-title {
    font-size: 42px;
    margin-bottom: 24px;
    font-weight: 300;
    margin-right: 12px;
  }

  .home-page-name {
    font-size: 48px;
    width: 750px;
  }

  .toolkit-icon {
    font-size: 100px;
    margin: 22px;
  }

  .home {
    flex-direction: row;
  }

  .project-section img {
    width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .project-title {
    font-size: 32px;
  }

  .contact-icons {
    font-size: 100px;
    /* margin-top: 10% */
  }

  .contact {
    margin-bottom: 0 !important;
  }

  .page-text {
    margin: 0 75px 0 0;
  }

.about-page {
  display: flex;
  flex-direction: row;
}

.about-text {
  font-size: 22px;
  line-height: 2.25rem;
  width: 750px;
}

.profile-img {
  width: 300px;
  height: auto;
  /* margin-top: 40px; */
  margin-bottom: 12px;
  margin-right: 75px;
}

}



@media (min-width: 900px) {

.about-page {
  display: flex;
  flex-direction: row;
}

.fa-angle-down {
  font-size: 92px;
}

.profile-img {
  width: 500px;
  height: auto;
  margin-right: 100px;
}

  .home-page-name {
    letter-spacing: 8px;
    font-size: 56px;
    width: 700px;
  }

  .home-page-description {
    font-size: 28px;
    letter-spacing: 5px;
    width: 700px;
  }

  .home-right {
    width: 600px;
    font-size: 24px;
    margin-bottom: 160px;
  }

  .nav-bar-item {
    font-size: 18px;
  }

   .project-section img {
    width: 600px;
    height: auto;
  }

  .page-text {
    margin: 0 250px 10px 0;
  }
}

@media (min-width: 1000px) {
  .about-text {
    width: 950px;
  }

  .toolkit-section-title {
    font-size: 42px;
  }

  .page-title {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .about-text {
    width: 1175px;
  }
}